body {
    margin: 0
}

#map {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.segment {
    width : 215px;
}

.routes-editor {
    width: 220px;
    min-height : 140px;
}

@import url('//fonts.googleapis.com/css?family=Ubuntu:700|Montserrat:500|PT+Sans|PT+Sans+Caption:700');

.bus, .trolley, .tram {
    color: white;
    font-family: Montserrat, Ubuntu, Futura, Verdana, Sans-serif;
    font-weight: 500;
    display: block;
    float : left;
    padding: 3px 0 3px 15px;
    margin : 3px;
    font-size: 16px;
    width: 50px;
    height: 19px;
    line-height: 19px;
    text-align: center;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all ease .3s;
    user-select: none;
}

.dimmed
{
    opacity: 0.3;
    transform: scale(0.9, 0.9);
}

.trolley {
    background-color: #1e90ff;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNSIgaGVpZ2h0PSIyNSI+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTAgMHYuN2w2LjMgNS42SDMuNnYxSDB2MS4yaC40djUuOEgwdjQuM2gyYTMgMyAwIDAgMSAzLTMgMyAzIDAgMCAxIDMgM2g3LjRsMi41LS40Yy41LTcuMy0xLjYtMTAuOS0xLjYtMTAuOUgxM3YtMWgtMi4zTDMuOCAwSDIuMWw3LjEgNi4zSDhMLjggMEgwem0xNiA4LjRjLjQgMS43IDEgMi45IDEuNCA2LjZsLTEuMy0uNC0uMS02LjJ6bS0xNC42LjFIOHY1LjhIMS40VjguNXptNy41IDBoMi44djguOUg5VjguNXptMy42IDBoMi44djguOWgtMi44VjguNXptLTcuNiA3LjZhMi41IDIuNSAwIDAgMC0yLjQgMi41QTIuNSAyLjUgMCAwIDAgNC45IDIxYTIuNSAyLjUgMCAwIDAgMi41LTIuNEEyLjUgMi41IDAgMCAwIDUgMTZ6bTAgMS4xYTEuMyAxLjMgMCAwIDEgMS40IDEuNCAxLjMgMS4zIDAgMCAxLTEuNCAxLjMgMS4zIDEuMyAwIDAgMS0xLjMtMS4zQTEuMyAxLjMgMCAwIDEgNSAxNy4yeiIvPjwvc3ZnPg==');
}

.bus {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNSIgaGVpZ2h0PSIyNSI+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTAgNy4zdjEuMmguNHY1LjNIMHY0LjhoMmEzIDMgMCAwIDEgMy0zIDMgMyAwIDAgMSAzIDNoOGMxIDAgMS40IDAgMS42LS41di0yLjhjMC0xLS43LTEtLjctMWwtLjMtNWMuNS0uMi4zLS43LjMtLjd2LS44YzAtLjYtLjYtLjUtLjYtLjVIMHptMS41IDEuMmg2LjR2NS4ySDEuNVY4LjV6bTcuNCAwaDIuOXY4LjhIOC45VjguNXptMy42IDBoMi45djguOGgtMi45VjguNXpNNSAxNmEyLjUgMi41IDAgMCAwLTIuNSAyLjRBMi41IDIuNSAwIDAgMCA1IDIxYTIuNSAyLjUgMCAwIDAgMi40LTIuNUEyLjUgMi41IDAgMCAwIDUgMTYuMXptMCAxLjFhMS4zIDEuMyAwIDAgMSAxLjMgMS4zQTEuMyAxLjMgMCAwIDEgNSAyMGExLjMgMS4zIDAgMCAxLTEuNC0xLjRBMS4zIDEuMyAwIDAgMSA1IDE3LjJ6Ii8+PC9zdmc+');
    background-color: black;
}

.tram {
    background-color: red;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNSIgaGVpZ2h0PSIyNSI+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTYuMyAxLjRIMy43djFINmw0LjIgMi4zLTQgMi4zSDB2Mi40aDYuNnY1SDB2NGgxNS4xYzIuNy0uMyAzLjEtMS40IDIuNy0zLjUtLjctMy4xLTEtNy44LTMuNi03LjhoLTZsNC0yLjRMOCAyLjRoMnYtMUg2LjN6bTEuNiA3aDMuNnY5LjNIOHptNS43LjFjLjggMCAxLjQuMSAxLjkuNi41LjYgMSAzLjQgMSA0LjMtMi43IDAtMy42LjUtMy44LTEuNGwtLjItM2MwLS40LjUtLjQgMS4xLS40ek0uMiAxOC43YTEuOCAxLjggMCAwIDAgMy42IDB6bTMuOSAwdjFoM3YtMXptMy4zIDBhMS44IDEuOCAwIDAgMCAzLjYgMHpNMCAyMS4xdjFoMTYuOHYtMXoiLz48L3N2Zz4=');
}

.route, .antiroute {
    width : 50px;
    float : left;
    margin : 3px;
    padding : 3px;
    display: block;
    text-align: center;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 2px;
}

.antiroute {
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.4);
    padding: 2px;
}

/*.routes-editor .route, .routes-editor .antiroute {
    display: inline-block;
    float: none;
}

.segment-button {
    margin : 7px 3px 7px;
    font-size : 18px
    display : block;
    padding : 4px;
    clear : left;
    float : left;
    text-align : center;
    font-weight : bold;
    cursor: pointer;
    user-select: none;
    width: 170px;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.4) inset;
    border-radius: 2px;
}

.segment-button:hover {
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.6) inset;
}*/

/*.current-routes {
    position: relative;
    z-index: 1;
    margin: 10px;
    max-width: 50%;
    max-height: 50%;
}

.current-route, .deselect-all {
    display: block;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 95px;
    height: 30px;
    font: 20px/28px sans-serif;
    color: rgba(255, 255, 255, 0.9);
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    text-align: left;
    padding: 4px 10px;
    overflow: hidden;
}

.current-route .bus, .current-route .trolley, .current-route .tram {
    transform: scale(1.5);
} 

.deselect-all {
    display: none;
    width: 16px;
    box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.5) inset;
    color: rgba(0, 0, 0, 0.5);
    position: relative;
    text-align: center;
    z-index: 1;
}

.current-routes:not(:empty) ~ .deselect-all {
    display: block;
}

.current-route::after {
    content: "×";
    float: right;
    font-weight: normal;
}

.current-route:hover {
    color: white;
}

.current-route:hover::after {
    color: #fff0f0;
}*/

.sidebar {
    position: absolute;
    top: 0;
    left: 38px;
    width: 320px;
    bottom: 60px;
    pointer-events: none;
}

.sidebar > div {
    pointer-events: auto;
}

@media screen and (max-width: 500px) {
    .sidebar {
        width: 100%;
        position: absolute;
        max-height: 40%;
        left: 0;
        right: 0;
        bottom: 0;
        top: initial;
    }
}

.route-card {
    background: #ffffff;
    padding: 10px;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0px 3px 10px 0px rgba(30,31,39,0.5);
    overflow: hidden;
    margin: 10px;
    max-height: 100%;
    overflow-y: auto;
}

@media screen and (max-width: 500px) {
    .route-card {
        border-radius: 0;
        border: 1px solid #ccc;
        margin: 0;
    }
}

.route-card .title {
    line-height: 35px;
    font-size: 27px;
    width: 100px;
    height: 35px;
    padding-left: 30px;
    margin: 0;
    margin-bottom: 10px;
}

.route-card .subtitle {
    display: block;
    font-family: 'PT Sans Caption', 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 5px;
}

.route-summary {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    clear: both;
    margin-top: 40px;
}

.close {
    color: #999;
    opacity: 0.5;
    cursor: pointer;
    float: right;
    transition: all .3s;
    font-size: 26px;
    line-height: 13px;
}

.close:hover {
    opacity: 1;
}

.search-input {
    padding: 3px 0 3px 30px;
    line-height: 35px;
    border-radius: 2px 2px 2px 2px;
    width: 100px;
    height: 35px;
    font-family: Montserrat, Ubuntu, Futura, Verdana, Sans-serif;
    font-weight: 500;
    font-size: 27px;
    outline: none;
    border: 0;
    color: white;
    box-sizing: content-box;
    text-align: center;
    float: none;
    margin: 10px;
    user-select: auto;
 }

 .search-route {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNSIgaGVpZ2h0PSIyNSI+PGNpcmNsZSBjeD0iMTAiIGN5PSIxMCIgcj0iNSIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMDAwIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMS43IiBvcGFjaXR5PSIuNyIvPjxwYXRoIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzAwMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjIuNSIgZD0iTTE1IDE1LjNsNSA1IiBvcGFjaXR5PSIuNyIvPjxwYXRoIGQ9Ik0xNC42IDEyLjNoLTN2LTEuM2gzdjEuM3ptLTEuNS0zLjlsLS40LjItLjEuMy4xLjQuNC4ycS4yIDAgLjMtLjJsLjEtLjQtLjEtLjNxLS4xLS4yLS4zLS4yem0wLTFsLjYuMi40LjMuMy41cS4yLjIuMi41IDAgLjQtLjIuNiAwIC4zLS4zLjVsLS40LjMtLjYuMS0uNi0uMS0uNS0uMy0uMy0uNS0uMS0uNnYtLjZsLjQtLjQuNS0uMy42LS4xem0tNy40IDYuNXYtNi42aDEuNWwyLjIgMy43di0zLjdoMS41djYuNkg5LjRsLTIuMi0zLjZ2My42SDUuN3oiIG9wYWNpdHk9Ii4zIi8+PC9zdmc+');
    background-color: #f0f2f4;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, .05) inset;
    color: black;
    transition: all ease .3s;
    background-repeat: no-repeat;
    background-size: contain;
 }

 .search
 {
    position: absolute;
    background: white;
    margin: 10px;
    opacity: 0;
    box-shadow: 0px 3px 10px 0px rgba(30,31,39,0.5);
    width: 150px;
 }

  .search-suggest
 {
    position: absolute;
    background: white;
    overflow: hidden;
    margin-top: -5px;
    box-shadow: 0px 3px 10px 0px rgba(30,31,39,0.5);
    width: 150px;
    z-index: 1;
    max-height: 500px;
    padding-top: 1px;
    opacity: 1;
    transition: all ease .5s;
    box-sizing: border-box;
    pointer-events: auto;
 }

 .search-suggest:empty
 {
    max-height: 0;
    opacity: 0;
    pointer-events: none;
 }

.search_visible {
    opacity: 1;
}

.search-suggest-item {
    display: block;
    box-shadow: 0px 0px 2px 1px #fff;
    border-radius: 1px;
}

.search-suggest-item {
    display: block;
    float: none;
    margin-bottom: 7px;
    margin-left: 10px;
    z-index: 3;
}

.search-suggest-item:last-child {
    margin-bottom: 5px;
}

.search-suggest-item::before {
    width: 100%;
    height: 35px;
    left: 0;
    margin-top: -8px;
    background: #fff;
    position: absolute;
    content: '';
    z-index: -1;
    transform: scale(0.5);
    opacity: 0;
    transition: all ease .2s;
}

.search-suggest-item_selected::before {
    background: #5a8dc4;
    opacity: 1;
    transform: scale(1);
}

.logo {
    position: absolute;
    border: 0;
    right: 10px;
    bottom: 30px;
    width: 50px;
    height: 50px;
    opacity: 0.7;
    transition: all .1s;
}

.logo:hover {
    width: 55px;
    height: 55px;
    opacity: 1;
}

@media screen and (max-width: 500px) {
    .logo {
        display: none;
    }
}

#dateForm
{
    position: absolute;
    top: 80px;
    right: 10px;
}

#dateForm input {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 2px 1px rgba(0,0,0,.15), 0 2px 5px -3px rgba(0,0,0,.15);
    height: 28px; 
    border: 0;
    padding: 0 10px;
    font: 10pt arial, sans-serif;
    width: 140px;
}

body.route-selected .current-route {
    display: block;
}

.progress {
    position: absolute;
    left: 50%;
    right: 50%;
    height: 0;
    top: 50%;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 2px #1e90ff;
    opacity: 0;
    transition: all ease .3s;
    transition-delay: .5s;
}

.progress_visible {
    left: 33%;
    right: 33%;
    height: 10px;
    opacity: 1;
    transition-delay: 0;
}

.progress-bar {
    background: #1e90ff;
    height: 100%;
    transition: width ease .3s;
}

.timetable {
    display: block;
    overflow: hidden;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    margin-bottom: 10px;
}

.timetable .hour {
  float: left;
  width: 45px;
  box-sizing: border-box;
  display: block;
  font-size: 23px;
  line-height: 20px;
  position: relative;
  padding-right: 18px;
  text-align: right;
  margin: 5px;
  font-family: montserrat;
}

.timetable .minutes {
  text-align: left;
  position: absolute;
  left: 25px;
  top: 0;
  height: 20px;
  width: 20px;
  display: block;
  font-size: 17px;
  line-height: 4px;
  font-weight: bold;
  word-wrap: break-word;
  transform: rotate(-90deg) scaleX(-1) ;
}

